* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
}

.container{
  background-color: rgb(68, 68, 68);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  background-color: aliceblue;
  border: none;
  outline: none;
  padding: 4px;
}

input:hover {
  background-color: rgb(216, 222, 227);
  
}

img{
  /* height: 40%; */
  /* width: 40%; */
  padding-bottom: 100px;
}

.msg{
  background-color: white;
  width: 500px;
  padding: 10px;
  font-size: large;
}
