* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
}

.container{
  background-color: rgb(131, 131, 131);
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  background-color: aliceblue;
  border: none;
  outline: none;
}
